
h1 
{
    color:rgb(253, 11, 104)
}
ul
{

    color:rgb(11, 245, 253)
}
ol
{

    color:rgb(88, 253, 11)
}
al
{

    color:rgb(253, 156, 11)
}
pl
{

    color:rgb(253, 11, 92)
}
wwl
{

    color:rgb(58, 39, 10)
}
ml
{

    color:rgb(148, 143, 71)
}
zl
{

    color:rgba(231, 114, 231, 0.726)
}
a
{
    color:rgb(253, 11, 11)
}
